.game-datum-warp{
    width: 100%;
    height: auto;
    background-color: #f4f5f7;
    h3{
        padding:0.5rem 1rem;
        color: #444;
        font-weight:550; 
    }
    .match-result{
        width: 100%;
        height: auto;
        margin-top: 0.5rem;
        background-color: white;
        .match-result-tab{
            padding: 0 0.5rem;
            th{
                font-weight: 400;
            }
            thead{
                text-align: center;
                font-size: 14/16rem;
            }
            tbody{
                text-align: center;
                color:#000;
                font-size:12/16rem;
                img{
                    width:28/16rem;
                    height:28/16rem;
                }
            }
            tr{
                width: 100%;
                height:35/16rem;
            }
            .team{
                text-align: left;
                display:flex;
                flex-direction:row;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }
    .mvp-player{
        width: 100%;
        height: auto;
        margin-top: 0.5rem;
        background-color: white;
        .mvp-player-table{
            width: 100%;
            height: auto;
            padding: 0 0.5rem;
            thead{
                font-size: 14/16rem;
                color: #444;
                span{
                    padding: 0 0.5rem;
                }
                img{
                    width: 28/16rem;
                    height: 28/16rem;
                }
                
            }
            .left{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;    
            }
            .right{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }
            .center{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            tr{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            tbody{
                tr{
                    width: 100%;
                    height: 60/16rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 14/16rem;
                    img{
                        width:40/16rem;
                        height:auto;
                    }
                    .num-and-name{
                        width: 67/16rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        span{
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}