.main-warp{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .main-header-warp{
        width: 100%;
        height:44/16rem;
        background-color: #1c90f2;
        line-height: 44/16rem;
        color: #FFF;
    }
}